.format-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.format-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  display: grid;
  flex-basis: calc((100% - 40px) / 3);
}
